body{
    background-color:#293133;
    font-family: "Consolas";
    overflow: hidden;
}


#forward, #backward{
    position: absolute;
    display: inline-flex;
    padding: 25px;
    border-radius: 50px;
    color: #fff;
    background-color: #ff8451;
    top: 300px;
    z-index: 1;
    transition: 1s;
    opacity: 0.5;
}

#forward:hover, #backward:hover{
    opacity: 1;
}

#forward{
    right: 150px;
}

#backward{
    left: 150px;
}


.main-slider{
    width: 80%;
    margin: auto;
    box-shadow: 0 0 50px #000;
    margin-top: 40px;
    height: 600px;
    overflow: hidden;
    transition: 1s;
}

.slider-container{
    width: 100%;
    margin: auto;
    display: flex;
    height: 600px;
}

.slider-content{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.webs{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 600px) {
    #forward, #backward{
        padding: 40px;
        border-radius: 80px;
        color: #fff;
        background-color: #ff8451;
        top: 65%;
    }
    
    #forward{
        right: 50px;
    }
    
    #backward{
        left: 50px;
    }

    .main-slider{
        margin-top: 50px;
        height: 250px;
    }

}
